node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

!.env.example

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.nyc_output/

pids/
*.pid
*.seed
*.pid.lock

dist/
build/
out/

.cache/
.parcel-cache/
.vite/

.DS_Store
Thumbs.db
Desktop.ini

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp
*.swo
tmp/
temp/
.docker/
*.sqlite
*.sqlite3
*.pem
*.key
*.crt
.DS_Store